A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `data/rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

# Import any additional modules and start coding below

In [ ]:
df = pd.read_csv("data/rental_info.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15861 entries, 0 to 15860
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_date       15861 non-null  object
 1   return_date       15861 non-null  object
 2   amount            15861 non-null  float64
 3   release_year      15861 non-null  float64
 4   rental_rate       15861 non-null  float64
 5   length            15861 non-null  float64
 6   replacement_cost  15861 non-null  float64
 7   special_features  15861 non-null  object
 8   NC-17             15861 non-null  int64
 9   PG                15861 non-null  int64
 10  PG-13             15861 non-null  int64
 11  R                 15861 non-null  int64
 12  amount_2          15861 non-null  float64
 13  length_2          15861 non-null  float64
 14  rental_rate_2     15861 non-null  float64
dtypes: float64(8), int64(4), object(3)
memory usage: 1.8+ MB

In [ ]:
df.describe()

,amount,release_year,rental_rate,length,replacement_cost,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2
count,15861.000000,15861.000000,15861.000000,15861.000000,15861.000000,15861.000000,15861.000000,15861.000000,15861.000000,15861.000000,15861.000000,15861.000000
mean,4.217161,2006.885379,2.944101,114.994578,20.224727,0.204842,0.200303,0.223378,0.198726,23.355504,14832.841876,11.389287
std,2.360383,2.025027,1.649766,40.114715,6.083784,0.403599,0.400239,0.416523,0.399054,23.503164,9393.431996,10.005293
min,0.990000,2004.000000,0.990000,46.000000,9.990000,0.000000,0.000000,0.000000,0.000000,0.980100,2116.000000,0.980100
25%,2.990000,2005.000000,0.990000,81.000000,14.990000,0.000000,0.000000,0.000000,0.000000,8.940100,6561.000000,0.980100
50%,3.990000,2007.000000,2.990000,114.000000,20.990000,0.000000,0.000000,0.000000,0.000000,15.920100,12996.000000,8.940100
75%,4.990000,2009.000000,4.990000,148.000000,25.990000,0.000000,0.000000,0.000000,0.000000,24.900100,21904.000000,24.900100
max,11.990000,2010.000000,4.990000,185.000000,29.990000,1.000000,1.000000,1.000000,1.000000,143.760100,34225.000000,24.900100

In [ ]:
df.sample(3)

,rental_date,return_date,amount,release_year,rental_rate,length,replacement_cost,special_features,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2
2341,2005-08-18 02:31:04+00:00,2005-08-24 02:45:04+00:00,2.99,2004.0,2.99,94.0,27.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,8836.0,8.9401
14073,2005-08-20 22:43:34+00:00,2005-08-22 19:17:34+00:00,0.99,2010.0,0.99,69.0,29.99,"{Trailers,""Behind the Scenes""}",0,1,0,0,0.9801,4761.0,0.9801
10628,2005-07-06 06:46:13+00:00,2005-07-07 02:08:13+00:00,2.99,2007.0,2.99,185.0,25.99,"{Trailers,Commentaries,""Behind the Scenes""}",0,0,1,0,8.9401,34225.0,8.9401

- Create a column named "rental_length_days" using the columns "return_date" and "rental_date", and add it to the pandas DataFrame. This column should contain information on how many days a DVD has been rented by a customer.

In [8]:
df['rental_date'] = pd.to_datetime(df['rental_date'])
df['return_date'] = pd.to_datetime(df['return_date'])

In [9]:
df['rental_length_days'] = (df['return_date'] - df['rental_date']).dt.days

In [ ]:
df.sample(3)

,rental_date,return_date,amount,release_year,rental_rate,length,replacement_cost,special_features,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2,rental_length_days
2267,2005-06-17 18:39:50+00:00,2005-06-24 20:02:50+00:00,1.99,2009.0,0.99,143.0,27.99,"{Commentaries,""Deleted Scenes"",""Behind the Sce...",0,0,1,0,3.9601,20449.0,0.9801,7
832,2005-08-23 19:36:05+00:00,2005-08-30 18:05:05+00:00,6.99,2008.0,4.99,121.0,18.99,"{Commentaries,""Deleted Scenes""}",0,0,1,0,48.8601,14641.0,24.9001,6
11950,2005-07-29 13:52:59+00:00,2005-07-31 16:05:59+00:00,2.99,2010.0,2.99,115.0,16.99,"{Trailers,Commentaries}",0,1,0,0,8.9401,13225.0,8.9401,2

- Create two columns of dummy variables from "special_features", which takes the value of 1 when:
    - The value is "Deleted Scenes", storing as a column called "deleted_scenes".
    - The value is "Behind the Scenes", storing as a column called "behind_the_scenes".

In [ ]:
df.special_features.value_counts()

{Trailers,Commentaries,"Behind the Scenes"}                     1308
{Trailers}                                                      1139
{Trailers,Commentaries}                                         1129
{Trailers,"Behind the Scenes"}                                  1122
{"Behind the Scenes"}                                           1108
{Commentaries,"Deleted Scenes","Behind the Scenes"}             1101
{Commentaries}                                                  1089
{Commentaries,"Behind the Scenes"}                              1078
{Trailers,"Deleted Scenes"}                                     1047
{"Deleted Scenes","Behind the Scenes"}                          1035
{"Deleted Scenes"}                                              1023
{Commentaries,"Deleted Scenes"}                                 1011
{Trailers,Commentaries,"Deleted Scenes","Behind the Scenes"}     983
{Trailers,Commentaries,"Deleted Scenes"}                         916
{Trailers,"Deleted Scenes","Behind the Scenes"}                  772
Name: special_features, dtype: int64

In [ ]:
df['behind_the_scenes'] = np.where(df.special_features.str.contains('Behind the Scenes'),1,0)
df['deleted_scenes'] = np.where(df.special_features.str.contains('Deleted Scenes'),1,0)

In [ ]:
df.sample(2)

,rental_date,return_date,amount,release_year,rental_rate,length,replacement_cost,special_features,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2,rental_length_days,behind_the_scenes,deleted_scenes
14398,2005-06-18 12:41:48+00:00,2005-06-22 07:36:48+00:00,4.99,2007.0,4.99,113.0,21.99,"{Trailers,""Behind the Scenes""}",0,0,1,0,24.9001,12769.0,24.9001,3,1,0
8191,2005-07-11 09:07:14+00:00,2005-07-17 12:45:14+00:00,7.99,2006.0,4.99,158.0,24.99,"{Trailers,Commentaries}",0,1,0,0,63.8401,24964.0,24.9001,6,0,0

Make a pandas DataFrame called X containing all the appropriate features you can use to run the regression models, avoiding columns that leak data about the target.

In [ ]:
df.columns

Index(['rental_date', 'return_date', 'amount', 'release_year', 'rental_rate',
       'length', 'replacement_cost', 'special_features', 'NC-17', 'PG',
       'PG-13', 'R', 'amount_2', 'length_2', 'rental_rate_2',
       'rental_length_days', 'behind_the_scenes', 'deleted_scenes'],
      dtype='object')

In [ ]:
X = df[['amount', 'release_year', 'rental_rate',
       'length', 'replacement_cost', 'NC-17', 'PG',
       'PG-13', 'R', 'amount_2', 'length_2', 'rental_rate_2','behind_the_scenes', 'deleted_scenes']]

In [ ]:
X.sample(4)

,amount,release_year,rental_rate,length,replacement_cost,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2,behind_the_scenes,deleted_scenes
3186,0.99,2009.0,0.99,83.0,20.99,0,1,0,0,0.9801,6889.0,0.9801,1,1
3011,0.99,2009.0,0.99,174.0,21.99,0,0,0,1,0.9801,30276.0,0.9801,0,0
1826,1.99,2009.0,0.99,109.0,16.99,0,0,1,0,3.9601,11881.0,0.9801,1,1
594,0.99,2008.0,0.99,153.0,20.99,0,0,0,1,0.9801,23409.0,0.9801,1,0

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15861 entries, 0 to 15860
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount             15861 non-null  float64
 1   release_year       15861 non-null  float64
 2   rental_rate        15861 non-null  float64
 3   length             15861 non-null  float64
 4   replacement_cost   15861 non-null  float64
 5   NC-17              15861 non-null  int64
 6   PG                 15861 non-null  int64
 7   PG-13              15861 non-null  int64
 8   R                  15861 non-null  int64
 9   amount_2           15861 non-null  float64
 10  length_2           15861 non-null  float64
 11  rental_rate_2      15861 non-null  float64
 12  behind_the_scenes  15861 non-null  int64
 13  deleted_scenes     15861 non-null  int64
dtypes: float64(8), int64(6)
memory usage: 1.7 MB

Choose the "rental_length_days" as the target column and save it as a pandas Series called y.

In [ ]:
y=df['rental_length_days']

- Split the data into X_train, y_train, X_test, and y_test train and test sets, avoiding any features that leak data about the target variable, and include 20% of the total data in the test set.
- Set random_state to 9 whenever you use a function/method involving randomness, for example, when doing a test-train split.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=9)

### Performing feature selection

In [52]:
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_train)

In [ ]:
lasso = Lasso(alpha=0.01)
lasso.fit(X_scaled, y_train)

Lasso(alpha=0.01)

In [ ]:
lasso_coef = pd.Series(lasso.coef_, index=X_train.columns)
important_features = lasso_coef[lasso_coef != 0].sort_values(ascending=False)

In [ ]:
important_features

amount               3.342176
NC-17                0.043781
length               0.038711
PG-13                0.034685
behind_the_scenes    0.030842
PG                   0.029347
release_year         0.021844
replacement_cost    -0.012465
R                   -0.025077
deleted_scenes      -0.055960
rental_rate_2       -0.163977
amount_2            -0.592833
rental_rate         -1.797526
dtype: float64

In [57]:
selected_features = important_features.abs().sort_values(ascending=False).head(5).index.tolist()

In [ ]:
selected_features

['amount', 'rental_rate', 'amount_2', 'rental_rate_2', 'deleted_scenes']

### Choosing models and performing hyperparameter tuning

In [ ]:
X_train_sel = X_train[selected_features]
X_test_sel = X_test[selected_features]

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

In [63]:
# Ridge
ridge_params = {'alpha': [0.01, 0.1, 1, 10, 100]}
ridge_grid = GridSearchCV(Ridge(), ridge_params, cv=5, scoring='neg_mean_squared_error')
ridge_grid.fit(X_train_sel, y_train)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [0.01, 0.1, 1, 10, 100]},
             scoring='neg_mean_squared_error')

In [62]:
# Random Forest
rf_params = {'n_estimators': [50, 100], 'max_depth': [5, 10, None]}
rf_grid = GridSearchCV(RandomForestRegressor(random_state=42), rf_params, cv=5, scoring='neg_mean_squared_error')
rf_grid.fit(X_train_sel, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42),
             param_grid={'max_depth': [5, 10, None], 'n_estimators': [50, 100]},
             scoring='neg_mean_squared_error')

In [ ]:
ridge_mse = mean_squared_error(y_test, ridge_grid.best_estimator_.predict(X_test_sel))
rf_mse = mean_squared_error(y_test, rf_grid.best_estimator_.predict(X_test_sel))

if ridge_mse < rf_mse:
    best_model = ridge_grid.best_estimator_
    best_mse = ridge_mse
    best_model_name = "Ridge"
else:
    best_model = rf_grid.best_estimator_
    best_mse = rf_mse
    best_model_name = "RandomForest"

print(f"✅ Best model: {best_model}, Test MSE: {best_mse:.3f}")

✅ Best model: RandomForestRegressor(max_depth=10, random_state=42), Test MSE: 2.491